<!DOCTYPE html>
<html ng-app = "operacoesAdministrador">

    <head>    

    <meta charset="utf-8"/>
                   
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/barraPadrao.css">    
    <link rel="stylesheet" href="../css/cadastroMedico.css">   
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../js/jquery.mask.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../js/angular.min.js"></script>
    <script src="../js/bootbox.min.js"></script>
    <script src="../js/ngStorage.min.js"></script>
    <script src="../js/operacoesAdministrador.js"></script>
    
    <title>Visualização de paciente</title>
        
    <style>
        .menuButton{
            width: 40px;
            position: absolute;
            top: 35px;
            right: 20px;
        }                
    </style>    
        
    </head>    
    
    <body>
        <form ng-controller = "CadastrarMedicoController as addMedicoCtrl">
            <div class="topo">
                <img src="../img/icone.png" class="logo"/>
                            
                <span class="nome">{{clinica.nome}}</span> 

                
                 <div class="menuButton">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-log-out"></span>
                    </button>
                </div>                                 
            </div>

            <div class="conteiner">
                <div class="form-group campos">

                    <div class="form-group">
                      <label for="txtCrm">CRM:</label>
                      <input type="text" class="form-control" id="txtCrm" ng-model = "medico.crm" placeholder="CRM">
                    </div>

                    <div class="form-group">
                      <label for="txtNome">Nome:</label>
                      <input type="text" class="form-control" id="txtNome" ng-model = "medico.nome" placeholder="Nome">
                    </div>

                    <div class="form-group">
                      <label for="txtSenha">Senha:</label>
                      <input type="password" class="form-control" id="txtSenha" ng-model = "senha" placeholder="Digite sua senha">
                    </div>


                     <div class="form-group">                         
                         <div>                            
                             <label for="slcEstado">Estado:</label>
                             <select  id="slcEstado" class = "btn btn-default dropdown-toggle" ng-model = "medico.uf">
                                <option ng-repeat="estado in estados | orderBy:'nome'" value="{{estado.sigla}}">{{estado.nome}}</option>                               
                             </select>                                                      
                         </div>                        
                    </div>
                    
                    <input type="button" class="btn btn-primary" value="Cadastrar" ng-click="cadastrarMedico()">            
                </div>
            </div>
        
        </form>
    </body>
</html>